{{ define "main" }}

{{ $style := resources.Get "css/list.css" }}
<link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css">


<h1 class="mb-4">{{ .Title }}</h1>
<div class="list-group">
    {{ range .Pages.ByPublishDate.Reverse }}
      {{ partial "date-and-tags.html" . }}
      <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action rounded mb-2 shadow-sm d-flex justify-content-between align-items-center">
        <span>{{ .Title }}</span>
      </a>
    {{ end }}
  </div>
  

{{ end }}